In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
stud= pd.read_csv('studentdata.csv')

In [4]:
stud.head()

,Name,XthInstitution,XIIthInstitution,Graduation Institution
0,Abhipsha Padhi,DAV Kaling Nagar,Delhi Public School,Odisha University of Technology and Research
1,Abhisekh Das,DAV Pokhariput,Sai International,National Institution of Technology Rourkela
2,Abinash Biswal,DAV Chandrasekharpur,KIIT,National Institution of Technology Warangal
3,Alisha Golari,DAV Unit 8,Mothers Public School,National Institution of Technology Trichy
4,Alisha Hembram,Mothers Public School,DAV Chandrasekharpur,National Institution of Technology Delhi

In [5]:
stud.duplicated().sum()

0

In [7]:
stud.iloc[0].XthInstitution

'DAV Kaling Nagar'

In [8]:
import ast

In [9]:
stud['XthInstitution']=stud['XthInstitution'].apply(lambda x:x.split())

In [10]:
stud.head()

,Name,XthInstitution,XIIthInstitution,Graduation Institution
0,Abhipsha Padhi,"[DAV, Kaling, Nagar]",Delhi Public School,Odisha University of Technology and Research
1,Abhisekh Das,"[DAV, Pokhariput]",Sai International,National Institution of Technology Rourkela
2,Abinash Biswal,"[DAV, Chandrasekharpur]",KIIT,National Institution of Technology Warangal
3,Alisha Golari,"[DAV, Unit, 8]",Mothers Public School,National Institution of Technology Trichy
4,Alisha Hembram,"[Mothers, Public, School]",DAV Chandrasekharpur,National Institution of Technology Delhi

In [11]:
stud['XIIthInstitution']=stud['XIIthInstitution'].apply(lambda x:x.split())

In [12]:
stud['Graduation Institution']=stud['Graduation Institution'].apply(lambda x:x.split())

In [13]:
stud.head()

,Name,XthInstitution,XIIthInstitution,Graduation Institution
0,Abhipsha Padhi,"[DAV, Kaling, Nagar]","[Delhi, Public, School]","[Odisha, University, of, Technology, and, Rese..."
1,Abhisekh Das,"[DAV, Pokhariput]","[Sai, International]","[National, Institution, of, Technology, Rourkela]"
2,Abinash Biswal,"[DAV, Chandrasekharpur]",[KIIT],"[National, Institution, of, Technology, Warangal]"
3,Alisha Golari,"[DAV, Unit, 8]","[Mothers, Public, School]","[National, Institution, of, Technology, Trichy]"
4,Alisha Hembram,"[Mothers, Public, School]","[DAV, Chandrasekharpur]","[National, Institution, of, Technology, Delhi]"

In [14]:
stud['XthInstitution']=stud['XthInstitution'].apply(lambda x:[i.replace(" ","") for i in x])

In [15]:
stud['XIIthInstitution']=stud['XIIthInstitution'].apply(lambda x:[i.replace(" ","") for i in x])

In [16]:
stud['Graduation Institution']=stud['Graduation Institution'].apply(lambda x:[i.replace(" ","") for i in x])

In [17]:
stud.head()

,Name,XthInstitution,XIIthInstitution,Graduation Institution
0,Abhipsha Padhi,"[DAV, Kaling, Nagar]","[Delhi, Public, School]","[Odisha, University, of, Technology, and, Rese..."
1,Abhisekh Das,"[DAV, Pokhariput]","[Sai, International]","[National, Institution, of, Technology, Rourkela]"
2,Abinash Biswal,"[DAV, Chandrasekharpur]",[KIIT],"[National, Institution, of, Technology, Warangal]"
3,Alisha Golari,"[DAV, Unit, 8]","[Mothers, Public, School]","[National, Institution, of, Technology, Trichy]"
4,Alisha Hembram,"[Mothers, Public, School]","[DAV, Chandrasekharpur]","[National, Institution, of, Technology, Delhi]"

In [18]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\praty\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\praty\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\praty\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\praty\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\praty\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\praty\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [19]:
stud['tags']= stud['XthInstitution']+ stud['XIIthInstitution']+ stud['Graduation Institution']

In [20]:
stud.head()

,Name,XthInstitution,XIIthInstitution,Graduation Institution,tags
0,Abhipsha Padhi,"[DAV, Kaling, Nagar]","[Delhi, Public, School]","[Odisha, University, of, Technology, and, Rese...","[DAV, Kaling, Nagar, Delhi, Public, School, Od..."
1,Abhisekh Das,"[DAV, Pokhariput]","[Sai, International]","[National, Institution, of, Technology, Rourkela]","[DAV, Pokhariput, Sai, International, National..."
2,Abinash Biswal,"[DAV, Chandrasekharpur]",[KIIT],"[National, Institution, of, Technology, Warangal]","[DAV, Chandrasekharpur, KIIT, National, Instit..."
3,Alisha Golari,"[DAV, Unit, 8]","[Mothers, Public, School]","[National, Institution, of, Technology, Trichy]","[DAV, Unit, 8, Mothers, Public, School, Nation..."
4,Alisha Hembram,"[Mothers, Public, School]","[DAV, Chandrasekharpur]","[National, Institution, of, Technology, Delhi]","[Mothers, Public, School, DAV, Chandrasekharpu..."

In [21]:
new_df=stud[['Name','tags']]

In [22]:
new_df.head()

             Name                                               tags
0  Abhipsha Padhi  [DAV, Kaling, Nagar, Delhi, Public, School, Od...
1    Abhisekh Das  [DAV, Pokhariput, Sai, International, National...
2  Abinash Biswal  [DAV, Chandrasekharpur, KIIT, National, Instit...
3   Alisha Golari  [DAV, Unit, 8, Mothers, Public, School, Nation...
4  Alisha Hembram  [Mothers, Public, School, DAV, Chandrasekharpu...

In [23]:
new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\praty\AppData\Local\Temp\ipykernel_1640\335926201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

In [24]:
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

C:\Users\praty\AppData\Local\Temp\ipykernel_1640\899821970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [25]:
import sklearn

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=73,stop_words='english')

In [27]:
vectors= cv.fit_transform(new_df['tags']).toarray()

In [28]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [29]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [30]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\praty\AppData\Local\Temp\ipykernel_1640\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity= cosine_similarity(vectors)

In [33]:
new_df[new_df['Name']=='Abinash Biswal'].index[0]

2

In [37]:
def recommend(student):
    stud_index=new_df[new_df['Name']==student].index[0]
    distances = similarity[stud_index]
    stud_list= sorted(list(enumerate(distances)),reverse=True,key = lambda x:x[1])[1:6]
    for i in stud_list:
        print(new_df.iloc[i[0]].Name)

In [38]:
recommend('Abinash Biswal')

Tanmaya Samal
Khushi gupta
Ankita Das
Stuti Pattnaik
Bikash Chandra Dalai

In [39]:
recommend('Sai Soumyak Nanda')

MAHAVIR PRASAD HOTA
Abhisekh Das
ASHISH EKKA
Swagat Shekhar Seth
Biswakiran Das